streamlit
langchain-community
langchain
openai
beautifulsoup4
requests
os
langchain_groq 
langchain_core.prompts 
langchain_core.output_parsers 
langchain_core.exceptions 
dotenv 
streamlit 
langchain_community.document_loaders 
chain 
portfolio 
utils 
pandas 
chromadb
uuid
re