streamlit
langchain
langchain-community
openai
beautifulsoup4
requests
python-dotenv
pandas
chromadb
uuid
langchain_groq
# Install langchain_groq from GitHub

# git+https://github.com/langchain-ai/langchain-integrations.git@main#subdirectory=integrations/providers/groq
