streamlit
langchain
langchain-community
openai
beautifulsoup4
requests
python-dotenv
pandas
chromadb
uuid
git+https://github.com/langchain-ai/langchain-integrations.git@main#subdirectory=integrations/providers/groq
